<div id="<%= dom_id lawsuit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Alias:</strong>
    <%= lawsuit.alias %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= lawsuit.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= lawsuit.created_by_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tenancy:</strong>
    <%= lawsuit.tenancy.name %>
  </p>

</div>
