<h1 class="font-bold text-4xl">Empresas</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Razão Social
                </th>
                <th scope="col" class="px-6 py-3">
                    CNPJ
                </th>
                <th scope="col" class="px-6 py-3">
                    Processo(s)
                </th>
                <th scope="col" class="px-6 py-3">
                    Criado por
                </th>
                <th scope="col" class="px-6 py-3">
                    Criado em
                </th>
              <% if current_user.role == 'developer' %>
                <th scope="col" class="px-6 py-3">
                    Cliente
                </th>
              <% end %>
                <th scope="col" class="px-6 py-3">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= company.name %>
                </th>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.cnpj %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.lawsuits.present? ? company.lawsuits.pluck(:alias).join(', ') : 'Sem associações' %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.created_by.email %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.created_at.strftime('%d/%m/%Y - %H:%M:%S') %>
                </td>
              <% if current_user.role == 'developer' %>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= company.lawsuit.first.tenancy.name %>
                </td>
              <% end %>
                <td class="flex items-center px-6 py-4">
                  <%= link_to 'Edit', edit_company_path(company), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                  <%= button_to 'Remove', company_path(company), method: 'delete', class:"font-medium text-red-600 dark:text-red-500 hover:underline ms-3" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>