<div class="flex min-h-full min-w-full flex-col justify-center items-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<div class="mb-4 p-2 pb-5 w-full flex justify-center">
		<svg class="h-20" viewBox="0 0 471.17 207.23">
			<g>
				<path fill="#0891b2" class="cls-1" d="M52.1,122.01c-1.39,0-2.13.65-2.13,2.04v36.92c0,9.81-2.68,12.68-12.21,12.68H2.13c-1.39,0-2.13.65-2.13,2.04v9.07c0,1.39.74,2.04,2.13,2.04h36.09c18.78,0,25.91-6.66,25.91-24.43v-38.31c0-1.39-.65-2.04-2.04-2.04h-9.99ZM77.82,135.98c-1.39,0-2.13.74-2.13,2.13v29.98c0,13.42,5.37,18.69,22.02,18.69h25.82c16.66,0,22.02-5.27,22.02-18.69v-29.98c0-1.39-.65-2.13-2.04-2.13h-9.07c-1.39,0-2.04.74-2.04,2.13v26.74c0,7.77-2.13,10.18-10.18,10.18h-23.78c-8.05,0-9.53-2.41-9.53-10.18v-26.74c0-1.39-.65-2.13-2.04-2.13h-9.07ZM178.22,135.98c-16.66,0-22.02,5.37-22.02,18.78v13.32c0,13.42,5.37,18.69,22.02,18.69h25.91c16.66,0,22.02-5.27,22.02-18.69v-48.67c0-1.39-.65-2.04-2.04-2.04h-9.07c-1.39,0-2.04.65-2.04,2.04v16.56h-34.79ZM202.83,175.68h-23.32c-7.96,0-10.09-2.41-10.09-10.18v-8.24c0-7.77,2.13-10.18,10.09-10.18h33.5v18.41c0,7.77-2.13,10.18-10.18,10.18h0ZM239.75,135.98c-1.39,0-2.04.74-2.04,2.13v46.64c0,1.39.65,2.04,2.04,2.04h9.07c1.39,0,2.04-.65,2.04-2.04v-46.64c0-1.39-.65-2.13-2.04-2.13h-9.07ZM239.75,117.2c-1.39,0-2.13.65-2.13,2.04v8.79c0,1.39.74,2.13,2.13,2.13h9.07c1.39,0,2.04-.74,2.04-2.13v-8.79c0-1.39-.65-2.04-2.04-2.04h-9.07ZM276.02,135.98c-10.92,0-14.53,5-14.53,12.68v4.07c0,8.14,4.07,12.49,14.43,12.49h31.09c3.79,0,5.18,1.48,5.18,3.89v2.5c0,3.15-1.39,4.44-5.18,4.44h-43.86c-1.11,0-1.67.56-1.67,1.67v7.4c0,1.11.56,1.67,1.67,1.67h47.38c10.92,0,14.53-4.81,14.53-12.95v-5.18c0-7.96-4.07-12.4-14.43-12.4h-31.18c-3.79,0-5.09-1.48-5.09-3.98v-1.39c0-2.68,1.3-4.16,5.09-4.16h41.73c1.11,0,1.67-.56,1.67-1.67v-7.4c0-1.11-.56-1.67-1.67-1.67h-45.16ZM390.48,135.98c-1.11,0-1.76.37-2.22,1.3l-21.74,37.75c-.83,0-1.2-.46-2.22-2.13l-20.54-35.62c-.46-.93-1.11-1.3-2.22-1.3h-10.64c-1.3,0-1.85,1.11-1.2,2.31l24.98,43.12c1.48,2.59,2.87,3.7,5.92,3.98l-5,8.79c-.83,1.48-2.22,2.13-4.72,2.13h-5.46c-1.11,0-1.67.56-1.67,1.67v7.59c0,1.11.55,1.67,1.67,1.67h6.48c7.96,0,12.21-2.04,14.62-6.29l35.53-62.64c.65-1.2.09-2.31-1.2-2.31h-10.36ZM422.13,135.98c-10.92,0-14.53,5-14.53,12.68v4.07c0,8.14,4.07,12.49,14.43,12.49h31.09c3.79,0,5.18,1.48,5.18,3.89v2.5c0,3.15-1.39,4.44-5.18,4.44h-43.86c-1.11,0-1.67.56-1.67,1.67v7.4c0,1.11.56,1.67,1.67,1.67h47.38c10.92,0,14.53-4.81,14.53-12.95v-5.18c0-7.96-4.07-12.4-14.43-12.4h-31.18c-3.79,0-5.09-1.48-5.09-3.98v-1.39c0-2.68,1.3-4.16,5.09-4.16h41.73c1.11,0,1.67-.56,1.67-1.67v-7.4c0-1.11-.56-1.67-1.67-1.67h-45.16Z"/>
			</g>
			<g>
				<path fill="#0891b2" class="cls-1" d="M264.28,66.37l1.4.27-.54,2.8-1.4-.27c-10.86-2.09-21.71-4.2-32.57-6.31l-1.4-.27.54-2.79,1.4.27c10.85,2.1,21.71,4.21,32.57,6.31h0ZM269.11,41.57l1.4.27-.54,2.8-1.4-.27c-10.86-2.09-21.71-4.2-32.57-6.31l-1.4-.27.54-2.79,1.4.27c10.85,2.1,21.71,4.21,32.57,6.3h0ZM227.94,20.64h0l-.8,4.11-3.83,19.74-.4,2.06c-2.1,10.86-4.21,21.71-6.31,32.57l-.4,2.05,2.06.4,23.42,4.53.4-2.06.4-2.06-21.37-4.14,3.34-17.25,2.97-15.32,3.5-18.04.33-1.7.8-4.11,20.8,4.03,4.03-20.81,4.11.8,13.38,2.59,2.03.39,15.21,2.95,2.06.4,2.06.4.4-2.06.4-2.06-2.06-.4-32.66-6.33-2.96-.57h0s0,0,0,0h0s0,0,0,0h0s-.01,0-.01,0h-.01s-.01,0-.01,0h-.02s-.02,0-.02,0h-.02s-.02,0-.02,0h-.02s-.03,0-.03,0h-.03s-.03-.01-.03-.01h-.03s-.03-.01-.03-.01h-.04s-.04-.01-.04-.01h-.04s-.08-.02-.08-.02h-.04s-.05-.02-.05-.02h-.05s-.05-.02-.05-.02h-.05s-.05-.02-.05-.02h-.06s-.06-.02-.06-.02h-.06s-.06-.02-.06-.02h-.07s-.04-.02-.04-.02l-2.8-.54s-8.8,5.95-26.4,17.84c-.36,1.86-.54,2.8-.54,2.8h0ZM266.64,53.96h0l1.4.27-.54,2.8-1.4-.27c-10.86-2.09-21.71-4.2-32.57-6.3l-1.4-.27.54-2.8,1.4.27c10.86,2.1,21.71,4.21,32.57,6.31Z"/>
				<path fill="#0891b2" class="cls-1" d="M284.43,37.33c-1.36-.25-2.21.25-2.46,1.62l-6.68,36.31c-1.78,9.65-4.93,11.98-14.31,10.26l-35.04-6.45c-1.37-.25-2.21.25-2.46,1.62l-1.64,8.92c-.25,1.37.36,2.14,1.72,2.39l35.49,6.53c18.47,3.4,26.69-1.86,29.9-19.33l6.93-37.68c.25-1.36-.27-2.12-1.63-2.37l-9.83-1.81Z"/>
			</g>
		</svg>
		</div>    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Acessar Área Restrita</h2>

    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_for( resource,
                    as: resource_name,
                    url: session_path(resource_name),
                    html: { 
                    class: "mb-4 px-8 pt-6 pb-8 rounded"
                    }
                  ) do |f| %>

        <%= devise_error_messages! %>

        <% if flash.present? %>
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
            <p class="font-bold">Oops!</p>
            <%- flash.each do |name, msg| -%>
              <%= content_tag :p,
                              msg.humanize,
                              id: "flash_#{name}" if msg.is_a?(String) %>
            <%- end -%>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          %>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password,
                              autocomplete: "current-password",
                              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-4">
            <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
            <%= f.label :remember_me,
                        class: "align-baseline inline-block text-gray-700 text-sm"
              %>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.submit "Log in",
                      class: "button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          %>
        </div>
      <% end %>
    </div>

    <%= render "devise/shared/form_footer" %>
  </div>
</div>